<div class="card" style="width: 350px; margin: 10px;">
  <div class="card-image" style="height: 350px; overflow: hidden;">
    <% if customer.image.attached? %>
      <figure class="image" style="margin: auto; height: 100%;">
        <%= image_tag customer.image, alt: customer.full_name, style: "width: 100%; height: 250px; object-fit: cover;" %>
      </figure>
    <% else %>
      <figure class="image" style="margin: auto; height: 100%;">
        <img src="https://via.placeholder.com/250x150" alt="Placeholder image" style="width: 100%; height: 150px; object-fit: cover;">
      </figure>
    <% end %>
  </div>
  <div class="card-content">
    <p class="title is-4"><%= customer.full_name %></p>
    <p><%= customer.phone_number %></p>
    <% if customer.email_address.present? %>
      <p><%= customer.email_address %></p>
    <% end %>
  </div>
</div>