<h1 class="title">All Customers</h1>

<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <div class="column is-one-quarter">
      <%= render partial: 'customer', locals: { customer: customer } %>
    </div>
  <% end %>
</div>

<div class="navigation-links">
  <%= link_to "View All Customers", root_path %> |
  <%= link_to "View Alphabetized Customers", alphabetized_customers_path %>
  <%= link_to "View Customers Missing Email", missing_email_customers_path %>
</div>
